<h1>Login</h1>
<form method="POST" >
	<input type="text" name="username" placeholder="name">
	<input type="text" name="password" placeholder="pass">
	<input type="submit" name="" value="LOGIN">
</form>