<%-include('./Partials/header.ejs')-%>
<div class="ui container fluid inverted segment">
	<span class="ui huge floated left header">Add Blog</span>
     <span class="ui floated right">
       <a class="ui red button" href="/blog">Back</a>
     </span>
</div>
<div class="ui container">
	<form method="POST" action="/blog">
		<div class="ui form">
		  <div class="field">
		    <label>Name</label>
		    <input type="text" name="name" placeholder="Name">
		  </div>
		  <div class="field">
		    <label>image</label>
		    <input type="text" name="image" placeholder="Image Url">
		  </div>
		  <div class="field">
		    <label>desc</label>
		    <textarea rows="4" name="desc"></textarea>
		  </div>
		  <button class="ui submit button" type="submit">Add</button>
		</div>
	</form>
</div>

<%-include('./Partials/footer.ejs')-%>